<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="">Opciones</a>
      <button title="Navigation menu" class="navbar-toggler" (click)="ToggleNavMenu()" >
        <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div [ngClass]="{'collapse': collapseNavMenu === true}"  class = " nav-scrollable" (click)="ToggleNavMenu()">
  <nav class="flex-column">
      <div class="nav-item px-3">
        <a routerLink="./books"
          class="nav-link">
          <span class="bi bi-book-fill-nav-menu" aria-hidden="true"></span> Libros
        </a>
      </div>

      <div class="nav-item px-3">
        <a routerLink="./auth"
          class="nav-link" *ngIf="!isLoguedIn()">
          <span class="bi bi-key-fill-nav-menu" aria-hidden="true"></span> Iniciar Sesión
        </a>
      </div>

      <div class="nav-item px-3">
        <a
          class="nav-link" *ngIf="isLoguedIn()"
          (click)="logout()">
          <span class="bi bi-arrow-left-square-fill-nav-menu" aria-hidden="true"></span> Cerrar Sesión
        </a>
      </div>
  </nav>
</div>

