table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.white-icon {
  color: white;
}

.red-icon {
  color: rgb(120, 3, 3);
}

.warm-icon {
  color: rgb(223, 191, 6);
}

.primary-icon {
  color: rgb(6, 89, 223);
}

.success-icon {
  color: rgba(10, 103, 24, 0.949);
}

.custom-column-width {
  width: 150px; /* Ajusta este valor según tus necesidades */
}

/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
  fill: white;
}
